.about {
  justify-content: center;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  margin-top: calc(-1 * var(--card-set-gap));

  @media screen and (min-width: 768px) {
    margin-left: calc(-1 * var(--card-set-gap));
  }
}

.about-list {
  width: 100%;

  margin-top: var(--card-set-gap);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

/* specifity-dekoration */
.icon-list {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.spc-svg {
  height: 70px;
  width: 70px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  color: #212121;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
