.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    text-align: start;
  }
}

@media screen and (max-width: 1200px) {
  .footer-container__item:not(:last-child) {
    margin-bottom: 60px;
  }
}

.page-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-link:hover,
.footer-mail-link:focus {
  color: var(--primary-color);
}

.footer-tel-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel-link:hover,
.footer-tel-link:focus {
  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .addres-container {
    margin-right: 70px;
  }
}

.footer-title {
  font-weight: 700;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-top: 20px;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--primary-color);
  }
}

.footer-list-icon {
  fill: var(--primary-text-color);
}

/* =============SUBSCRIBE-INPUT============= */

@media screen and (max-width: 480px) {
  .subscribe-box {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-box {
    margin-left: auto;
  }
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
  }
}

@media screen and (max-width: 1200px) {
  .subscribe-input {
    margin-bottom: 20px;
  }
}

.subscribe-svg {
  fill: #fff;
  margin-left: 10px;
}

.footer-form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.btn-subscribe-icon {
  margin-left: 10px;
}

.form-footer {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.btn-subscribe {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: var(--primary-text-color);
  cursor: pointer;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background: #188ce8;
}

.modal-button-subscribe {
  padding-left: 29px;
  padding-right: 28px;
}

@media screen and (min-width: 1200px) {
  .modal-button-subscribe {
    margin-left: 12px;
  }
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    flex-direction: row;
  }
}
