.logo {
  font-family: var(--secondary-font-family);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-color-span {
  color: var(--primary-color);
}

.header-logo_theme_dark {
  color: #212121;
  margin-right: 92px;
}

.footer-logo_theme_light {
  color: var(--primary-text-color);
  margin-bottom: 20px;
  display: block;
}

// 0 - 767px
@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
  }
}

// 768px +
@media screen and (min-width: 768px) {
  .header-logo_theme_dark {
    margin-right: 88px;
  }

  .logo {
    font-size: 24px;
  }
}

// 1200px +
@media screen and (min-width: 1200px) {
  .header-logo_theme_dark {
    margin-right: 92px;
  }

  .logo {
    font-size: 26px;
  }
}
