.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--primary-color);
  }
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: #fff;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  // justixfy-content: space-between;
  margin-top: 16px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}
