:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #ffffff;
  --secondary-text-color: #757575;
  --primary-color: #2196f3;
  --secondary-color: #188ce8;
  --card-set-gap: 30px;
}
